.navbar-container {
    background-color: #145233;
    color: white;
    padding: 10px;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-link {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid white;
    padding: 5px 10px;
  }
  
  .navbar-link:hover {
    color: #145233;
    text-decoration: underline;
    background-color: white;
    border: 1px solid white;
  }
  